<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PC Maker</title>
    
    <link href="css/bootstrap.darkly.min.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap.min.js"></script>
    <script src="js/controller.js"></script>

  </head>
  <body style="margin: 20px;">
    <div ng-controller="pcmaker">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <ul class="list-inline">
            <li>
              <h1 class="panel-title">PC Maker</h1>
            </li>
            <li>
              <div class="progress" style="width: 300px; margin: 0px;" aria-valuenow="{{ progress() | number: 0}}" aria-valuemin="0" aria-valuemax="100">
                <div class="bar progress-bar progress-bar-success" style="width: {{ progress() | number: 0}}%;">{{ progress() | number: 0}}%</div>
              </div>
            </li>
            <li>
              <div class="progress" style="width: 300px; margin: 0px;" aria-valuenow="{{ progressOptional() | number: 0}}" aria-valuemin="0" aria-valuemax="100">
                <div class="bar progress-bar progress-bar-warning" style="width: {{ progressOptional() | number: 0}}%;">{{ progressOptional() | number: 0}}%</div>
              </div>
            </li>
            <li>
              Preço total: R$ {{totalPrice() | number:2}}
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <a ng-repeat="type in catalog" href="#" class="btn btn-sm {{ findItem(type.name) ? 'btn-success' : (type.required == 'true' ? 'btn-danger' : 'btn-warning') }} disabled" style="margin: 4px;">{{ type.name }}</a>
        </div>
      </div>

       <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Componentes</h1>
        </div>
        <div class="panel-body">
          <h5 ng-if="!hasTable()">Não existem componentes.</h5>

          <table class="table table-bordered" ng-if="hasTable()">
              <tr class="row">
                  <th class="col-md-1"></th>
                  <th class="col-md-1">Quantidade</th>
                  <th class="col-md-2">Tipo</th>
                  <th class="col-md-6">Opção</th>
                  <th class="col-md-2">Preço</th>
              </tr>
              <tr ng-repeat="item in items" class="row">
                  <td class="col-md-1 glyphicon glyphicon-remove" style="text-align: center" ng-click="remove($index)"></td>
                  <td class="col-md-1"><input type="number" class="form-control input-sm" ng-model="item.quantity"/></td>
                  <td class="col-md-2">
                    <select class="form-control input-sm" ng-model="item.type" ng-options="type as type.name for type in catalog">
                      <option value=""/>
                    </select>
                  </td>
                  <td class="col-md-6">
                    <span ng-if="item.definedType()">
                      <select class="form-control input-sm" ng-model="item.option" ng-options="('R$') + (option.price | number: 2) + (option.fare!=undefined ? '+'+(option.fare|number:2) : '') + (' : ') + ( option.description) for option in item.type.options">
                      </select>
                    </span>
                  </td>
                  <td class="col-md-2"><h5>R$ {{ item.price() | number: 2}}</h5></td>
              </tr>
          </table>

          <button type="button" class="btn btn-default" ng-click="addComponent()">Adicionar componente</button>
        </div>
      </div>

    </div>
    <div>
      <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Im a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </div>
    </div>
  </body>
</html>